.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  height: 100%;
  outline: none;
  padding: 24px;
}

.tiptap p {
  margin: 0;
}

.tiptap:focus {
  outline: none;
}

.note-spotlight {
  background-color: rgba(255, 235, 59, 0.5); /* یا رنگ دلخواه */
  border-bottom: 2px solid #f57f17;
  transition: background-color 0.3s ease;
}